# This workflow creates a versioning PR using changesets

name: Changeset Version

on:
  push:
    branches: [main]
    paths-ignore:
      - "README.md"

  workflow_dispatch:

jobs:
  version:
    runs-on: ubuntu-latest
    name: Create versioning pull request

    # For all pushes to main that do not have a commit message that starts with Version Packages, and thus aren"t merging a versioning PR
    # Run the changesets action, which will either no-op if there are no changesets present,
    # or generate the Version Packages PR containing the updated version and merged release notes if there are changesets present
    if: ${{ !startsWith(github.event.commits[0].message, 'Version Packages') }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 8.15.9

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.19.5"
          cache: "pnpm"

      # Why do we explicitly do pnpm install here and not use "run_install: true" above in the pnpm setup?
      # We need to have pnpm setup before node in order to take advantage of the inbuilt caching that is available
      # in that action, and running an install as part of pnpm setup won't use the cache, so we'll explicitly
      # run it here after the cache
      - run: pnpm install

      - run: pnpm build

      - name: Create Release Pull Request
        uses: changesets/action@v1.4.10
        with:
          version: pnpm run ci:version
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_GITHUB_TOKEN }}
